* {
    box-sizing: border-box;
}
.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.container .displaying {
  flex: 1 50px;
  background-color: #191709;
  font-size: 10vh;
  padding: 5px;
  color: white;
} 

.container .numpad {
  background-color: #8e8e89;
  flex: 5 250px;
  display: flex;
}